/* EducationSection.css */

.education-section {
  background-color: #FFFFFF;
  width: 100%;
  padding: 80px 0; /* Отступы сверху и снизу */
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-container {
  width: 100%;
  max-width: 1240px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.education-video-wrapper {
  width: 680px;
  height: 700px;
  flex-shrink: 0;
}

.education-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.education-content {
  width: 565px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.education-content h2 {
  font-family: 'TT Travels Next Trl', sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.education-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #868686;
  margin-top: 60px;
  text-align: left;
}

.education-content h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 60px;
  text-align: left;
}

.features-list {
  display: flex;
  gap: 30px; /* Отступ между колонками */
  margin-top: 20px; /* Отступ от подзаголовка */
}

.features-column p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1; /* Межстрочный интервал для списка */
  color: #333;
  margin-bottom: 0; /* Отступ между пунктами */
}

.features-column p img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.education-details-btn {
  display: inline-block;
  width: 170px;
  height: 60px;
  background-color: #FF2B00;
  color: white;
  border-radius: 90px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
